export DEBUG="Eleventy:EleventyErrorHandler"
# export DEBUG="Eleventy:EleventyErrorHandler,11ty-plugin*,script:*"
# export DEBUG="DevEleventy:*,Eleventy*"
export ELEVENTY_ENV=development
export NODE_ENV=production
# export NODE_DEBUG="*"
export SKIP_TELEGRAM_MESSAGES=1

# secrets exposed as environment variables
export GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/prj-kitchen-sink/sa-storage-uploader
export PLAUSIBLE=$(cat /run/secrets/plausible/test_site)
export TELEGRAM=$(cat /run/secrets/telegram/personal_bot)
