export CLOUDFLARE_ACCOUNT_ID=43f9884041661b778e95a26992850715
# export DEBUG="script:*,Eleventy:EleventyErrorHandler"
export DEBUG="script:*,Eleventy:EleventyErrorHandler,11ty-plugin:*"
# export DEBUG="DevEleventy:*,Eleventy*"
# export NODE_DEBUG="*"
# export NODE_ENV=production
export SKIP_TELEGRAM_MESSAGES=1
# export SKIP_VALIDATION=1

# secrets exposed as environment variables
export CLOUDFLARE_PAGES_API_TOKEN=$(cat ./secrets/cloudflare-pages-api-token.txt)
export CLOUDFLARE_R2=$(cat /run/secrets/cloudflare_r2/personal)
export ELEVENLABS_API_KEY=$(cat /run/secrets/elevenlabs/api_key)
export GITHUB_TOKEN=$(cat /run/secrets/github-tokens/semantic_release_bot)
# export GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/prj-kitchen-sink/sa-storage-uploader
export NPM_TOKEN=$(cat /run/secrets/npm-tokens/semantic_release_bot)
export PLAUSIBLE=$(cat /run/secrets/plausible/test_site)
export TELEGRAM=$(cat /run/secrets/telegram/personal_bot)
