# dependencies
**/node_modules/

# environment variables
**/.envrc

# secrets
secrets/*
!secrets/README.md

# test coverage
**/coverage/

# Typescript compilation output files for libraries and applications
packages/**/lib/
packages/**/dist/
packages/**/_site/
packages/**/tsconfig.tsbuildinfo

# default cache directory of @11ty/eleventy-fetch
packages/**/.cache/
.cache/

# cache directory of eleventy-plugin-webmention (the cache inside the package it's used by tests)
packages/eleventy-plugin-webmention/.cache-webmentions/
.cache-webmentions/

# default cache directory of @jackdbd/eleventy-plugin-plausible
packages/eleventy-plugin-plausible/.cache-plausible-json-responses/
packages/demo-site/.cache-plausible-json-responses/
